.mainImg {
    width: 100%;
    height: 100%;
}

.imgBox {
    width: 100%;
    height: 700px;
}

.nameTxt {
    font-family: 'Oxygen', sans-serif;
}

.colorSelect{
    border-radius: 50px;
    padding: 10px;
    border: 2px solid grey;
    cursor: pointer;
    margin-left: 5px;
    
}

.colorSelect:focus {
    border: 2px solid black;
}

.labelTxt{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

.selectedTxt{
    font-weight: 300;
}

.infoArea {
    margin: 100px;
}

.priceBox {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.priceTxt {
    font-family: 'Oxygen', sans-serif;
    color: rgb(192, 67, 67);
    font-size: 30px;
}

.creditCardtxt {
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.addToCartButton {
    background-color: rgb(72, 190, 68);
    width: 100%;
    border: none;
    cursor: pointer;
}

.addToCartButton:hover {
    background-color: rgb(94, 231, 89);
}

.cartButtonTxt {
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.addFavoriteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.addFavoriteHeart {
    color: black;
}

.addFavoriteHeart:hover {
    color:rgb(192, 67, 67);
}

.selectPreviewButton {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
    opacity: 0.50;
    background-color: transparent;
}

.selectPreviewButton:hover {
    opacity: 1;
}

.selectPreviewImg {
    width: 100%;
    height: 100%;
}



